@import "./vars.scss";

.button {
    border-radius: 5px;
    padding: $unitSize * 3;
    color: $light;
    background-color: $lightBlue;
    text-decoration: none;
    font-family: $fontFamily;
    font-size: $unitSize * 4;
    font-weight: 600;
    border: 2px solid $light;
    cursor: pointer;
    height: 48px;
    display: inline-block;

    &--is-loading {
      position: relative;
      padding: 0;
      width: 120px;

      .loader {
        left: 51px;
        top: -16px;
      }
    }

    &:active {
        border: 2px solid $darkBlue;
    }

    &:disabled {
        border: 2px solid $light;
        background-color: gray;
        color: darkslategray;
        cursor: not-allowed;
    }
}
