$lavender: #947EB0;
$dark: #252627;
$light: #FFEBE7;
$lightBlue: #01A7C2;
$darkBlue: #044B7F;

$fontFamily: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$unitSize: 4px;
